<footer class="footer">
  <small>
    Developped by
    <%= link_to "Laurent Jacquot", "http://www.linkedin.com/in/laurentjacquot1", target: "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Laurent",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>